* {
  box-sizing: border-box;
}

.nav-lab-header {
  background-color: #0cb2aa;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem;
  align-items: center;
  margin: 1rem;
  border-radius: 5px;
  max-width: 100vw;
}

.navbar-logo {
  font-family: "DM Serif Text", serif;
  font-size: 30px;
  font-weight: bold;
}

.nav-links {
  font-family: "Inter", sans-serif;
  color: inherit;
  font-size: 13px;
  margin: 0;
  padding: 0.4rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #003d3a;
  transition-duration: 150ms;
}

.custom-avatar {
  background-color: #dce7f5;
}

.custom-avatar .anticon {
  color: #0c1827;
}

.dropdown {
  position: absolute;
  top: 100%;
  width: 300px;
  max-width: calc(100vw - 1rem);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  margin: 0 8px;

  transition: height var(--speed) ease;
}

.dropdown-container,
.avatar-container {
  position: relative;
  cursor: pointer;
}

.avatar-container {
  position: relative;
}

.avatar-container .dropdown,
.dropdown-container .dropdown {
  right: 0; /* Esto ayuda a alinear con el borde derecho del avatar */
  margin-right: 0; /* Reduce el margen derecho */
}

.dropdown-container button:hover {
  color: #003d3a;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item a {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu-item:hover {
  background-color: #078c85;
}

.icon-right {
  margin-left: auto;
}

.menu-primary-enter {
  position: absolute;
  transform: translateY(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateY(-110px);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit {
  position: absolute;
}

.menu-secondary-exit-active {
  transform: translateY(-110px);
  transition: all var(--speed) ease;
}

/* Estilo para menús terciarios */
.menu-tertiary-enter {
  transform: translateX(-110%);
}

.menu-tertiary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-tertiary-exit {
  position: absolute;
}

.menu-tertiary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}
